.change-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  min-height: 100vh;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}

.change-password-container h2 {
  color: #7c008a;
  font-size: 36px;
  margin-bottom: 40px;
}

.change-password-container input {
  width: 400px;
  height: 50px;
  margin: 10px 0;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.change-password-container button {
  width: 400px;
  height: 50px;
  margin-top: 20px;
  background-color: #7c008a;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.change-password-container button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.change-password-container button:hover:enabled {
  background-color: #5e006b;
}

.error-message {
  color: red;
  margin-top: 10px;
}
